<h2>投稿（＾ω＾）</h2>    <% if flash[:notice] %>
<div class="flash_update">
  <%= flash[:notice] %>
</div>
<% end %>
<%= form_tag("/post/create") do %>
    <% @post.errors.full_messages.each do |message| %>
        <%= message %>
    <% end %>
<textarea name="content" class="new_post_wrap"><%= @post.content %></textarea>
<input type="submit" value="投稿" class="new_post_submit">
<% end %>